



<html>
<head>

   
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
   
   
   <style>
   
   body {
   
    background:  	#F5FFFA ;
    
}
input[type=submit] {
    padding:5px 15px; 
    background: 	#F08080; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
      font-family: "Georgia";
}

lable {
    font-family: "Georgia";
}
   </style>
   
</head>
<body>
  
<form>

Title:<input type="text" ng-model="blogPost.blogTitle" value="{{blogPost.blogTitle}}">
Description:<input type="text" ng-model="blogPost.description" value="{{blogPost.description}}">

<input type="submit" ng-click="realupdateBlogPost()" value="update">
<a href="" ng-click="deleteBlogPost(blogPost.id)"><span class="glyphicon glyphicon-trash"></span></a></td>


</form>
</body>
</html>