

<html>
<head>

   
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
   
   
   <style>
   
   body {
   
    background:  	#F5FFFA ;
    
}
input[type=submit] {
    padding:5px 15px; 
    background: 	#F08080; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
      font-family: "Georgia";
}

lable {
    font-family: "Georgia";
}
   </style>
   
</head>
<body>
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="title" id="first_name" ng-model="job.jobTitle" type="text" required class="validate">
          <label for="first_name">Job title</label>
        </div>
          <div class="input-field col s6">
          <input id="last_name" type="text" ng-model="job.skillRequired"  required class="validate">
          <label for="last_name">SkillRequired</label>
        </div>
      </div>
     
      
      <div class="row">
    <div class="input-field col s6">
 <input  id="last" type="text"  ng-model="job.yrsOfExp" required class="validate">
<label for="last"> Years of Experience:</label>
</div>
<div class="input-field col s6">
<input type="text" id="last_nae" class="validate" required ng-model="job.salary" >
<label for="last_nae">Salary</label>
</div>
</div>

<div class="row">
<div class="input-field col s6">
 <input type="text" id="last_name" class="validate"  required ng-model="job.location">
<label for="last_name">Location</label>
</div>


<div class="input-field col s6">
 <input type="text" id="last_name" class="validate" required ng-model="job.companyname" >
<label for="last_name">Companyname</label>
</div>
</div>
    
  <div class="row">
        <div class="input-field col s6">
          <textarea id="text_area"  ng-model="job.jobDescription" required class="validate"></textarea>
          <label for="last_name">Description</label>
        </div>
     
      
<input type="submit" ng-click="updateJob()" value="update">
<a href="" ng-click="deleteJob(job.id)"><span class="glyphicon glyphicon-trash"></span></a></td>

     </div>
     </form>
  </div>
  

</body>
</html>